@model ExamenLenguajes.Model.Apartamentos

@{
    ViewData["Title"] = "DetalleAlquilados";
}

<h1>DetalleAlquilados</h1>

<div>
    <h4>Apartamentos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDePiso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDePiso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioPorMes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioPorMes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificacionInquilino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificacionInquilino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreInquilino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreInquilino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicioAlquiler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicioAlquiler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDeMesesAlquiler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDeMesesAlquiler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositoDeGarantia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositoDeGarantia)
        </dd>
    </dl>
</div>
<div>
   
    <a asp-action="Index">Volver</a>
</div>
