@model IEnumerable<ExamenLenguajes.Model.Apartamentos>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de apartamentos</h1>

<p>
    <a asp-action="Create">Agregar apartamento</a>
</p>

<form asp-controller="Apartamentos" asp-action="Filtrar" method="get">
    <p>
        Nombre: <input type="text" name="nombre" />
        <input type="submit" value="Filtrar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.NumeroDePiso)</th>
            <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
            <th>@Html.DisplayNameFor(model => model.PrecioPorMes)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.NumeroDePiso)</td>
                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                <td>@Html.DisplayFor(modelItem => item.PrecioPorMes)</td>
                <td>@item.Estado.ToString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a> |
                    @if (item.Estado == ExamenLenguajes.Model.Estado.Disponible)
                    {
                        <a asp-action="Alquilar" asp-route-id="@item.Id">Alquilar</a>
                    }
					@if (item.Estado == ExamenLenguajes.Model.Estado.Alquilado)
					{
                        <a asp-action="Devolver" asp-route-id="@item.Id">Devolver</a>
					}
                </td>
            </tr>
        }
    </tbody>
</table>
